<!DOCTYPE html>
<html>
  <head>
    <title>Snapshots</title>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div id="background"></div>
  <div id="login">
    <h1 class="header">Visit-to-Visit</h1>
    <div id="fields">
      <form method="POST" action="/login">
        <input type="text" id="first_name" name="first_name"></input>
        <label for="text">First Name</label>
        <br>
        <input type="text" id="last_name", name="last_name"></input>
        <label for="text">Last Name</label>
        <br>
        <input type="text" id="email" name="email"></input>
        <label for="text">Email</label>
        <br>
        <input type="password" id="password" name="password"></input>
        <label for="text">Password</label>
        <br>
        <button class="btn btn-lg btn-sample btn-block signin" type="submit" id="signin" value="signin">Sign in</button>
        <button class="btn btn-lg btn-sample btn-block" type="submit" value="signup" id="signup">Sign up</button>
      </form>
    </div>
  </div>
  </body>
</html>
<style>
.header {
  font-size: 100px;
  margin-top: -90px;
  margin-bottom: 50px;
}
#fields {
  margin-left: 200px;
  width: 300px;
  text-align: left;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;position: absolute;
  background-image: url(http://farm3.staticflickr.com/2270/1780270195_371dd13572_o.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-filter: blur(5px);
  z-index: -1;
}

#login {
  text-align: center;
  width: 50%;
  height: 500px;
  position: absolute;
  left: 34%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
#signin, #signup {
  display: inline-block;
  width:45%;
}
#signin {
  margin-bottom: -5px;
}
input {
  z-index: 1;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
}
.btn-sample {
  color: #FFFFFF;
  background-color: #a5a5a5;
  border-color: #130269;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #FFFFFF;
  background-color: #a5a5a5;
  border-color: #130269;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #611BBD;
  border-color: #130269;
}

.btn-sample .badge {
  color: #611BBD;
  background-color: #FFFFFF;
}
</style>
<script>
$(document).ready(function() {

});
</script>
