<!DOCTYPE html>
<html>
  <head>
    <title>Snapshots</title>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div id="background"></div>
  <div id="login">
    <h1>Login</h1>
    <form method="POST" action="/login">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <button type="submit" name="action" value="login">Login</button>
      <button type="submit" name="action" value="signup">Signup</button>
    </form>
  </div>
  </body>
</html>
<style>

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;position: absolute;
  background-image: url(http://farm3.staticflickr.com/2270/1780270195_371dd13572_o.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-filter: blur(5px);
  z-index: -1;
}

#login {
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

input {
  background-color: transparent;
}

body {
  text-align: center;
  color: #0259A5;
}

.header {
  height: 60px;
  background: #89D1D9;
}

.header a {
  float: right;
  font-size: 20pt;
  font-style: bold;
  padding: 15px 10px;
  text-decoration: none;
  color: #0259A5;
}

.header a#homeButton {
  float: left;
  padding: 8px 10px;
  background: #C8F5F4;
  font-size: 30pt;
}

.header a#createButton {
  background: #C1ECEC;
}

.header a#createButton:hover {
  background: #ADE6E6;
}

.header a#meButton {
  background: #BAE0E0;
}

.header a#meButton:hover {
  background: #A7D8D8;
}

.header a#logoutButton {
  background: #B3D4D4;
}

.header a#logoutButton:hover {
  background: #A0CACA;
}

.meme {
  position: relative;
  padding: 10px;
}

.memeText {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  font-style: bold;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

.memeText h1 {
  margin: auto;
}

#topText {
  top: 15px;
}

#bottomText {
  bottom: 15px;
}

#memeImg {
}

#create input[type=text] {
  font-size: 20pt;
  text-transform: uppercase;
}

#create #photoDropdown {
  display: block;
  margin: auto;
  margin-top: 10px;
  color: #0259A5;
}

#create input {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

</style>